name: lint
on: [push, pull_request]

jobs:
  lint:
    strategy:
      matrix:
        go-version: [1.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v3.5.3
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3.5.0
      with:
        skip-go-installation: true
        version: latest
        args: --timeout 3m --verbose
